<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.longbei.im_push_service_sdk" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <activity
            android:name="com.longbei.im_push_service_sdk.app.activitys.MessageActivity"
            android:label="@string/title_activity_message"
            android:screenOrientation="portrait"
            android:theme="@style/mAppTheme"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <activity
            android:name=".app.pictureselector.PhotoFragmentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:screenOrientation="portrait" />

        <activity
            android:name=".app.fragment.message.picactivitys.ChatPicturePreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".app.fragment.message.picactivitys.ChatPictureSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            />

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <service
            android:name="com.longbei.im_push_service_sdk.im.push.service.IMservice"
            />

        <receiver
            android:name="com.longbei.im_push_service_sdk.im.push.client.receiver.NoticeBroadcastReceiver"
            android:exported="false">
            <intent-filter >
                <action android:name="com.tuita.sdk.action.longbei.im.notice_cancel"/>
            </intent-filter>
        </receiver>

    </application>
</manifest>
